<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BDD Test Suite" configfailurepolicy="continue" data-provider-thread-count="3">
    <test name="Tests Execution" annotations="JDK">
        <classes>
            <class name="com.automationpractice.CucumberTestNGRunner"/>
        </classes>
    </test>
</suite>